# ignore the folder called build anywhere, but not files called build
build/
version.h
.gradle/

# cscope database/index files
cscope.files
cscope.out
cscope.in.out
cscope.po.out

# python bytecode cache
__pycache__/
*.pyc